*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: crimson;
}
.card{
  background-color: aliceblue;
  width: 700px;
  padding: 20px;
  margin: 20px;
  font-family: sans-serif;
  line-height: 20px;
  overflow: auto;
}

/*Scrollbar*/
::-webkit-scrollbar{
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#21d4fb, #b721ff);
  border-radius: 100px;
}