*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(35, 35, 221);
}

.loading{
  background-color: aliceblue;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 10px;
  animation: load 0.8s ease infinite;
}
.loader{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  min-height: 100vh;
  align-items: center;
  
}
.loading.one{
  animation-delay: 0.3s;
}
.loading.two{
  animation-delay: 0.4s;
}
.loading.three{
  animation-delay: 0.5s;
}
.loading.four{
  animation-delay: 0.6s;
}

@keyframes load{
  0% {
    width: 30px;
    height: 30px;
  }
  50%{
    width: 20px;
    height: 20px;
  }
}

